body {
    background-color: rgb(253, 253, 239);
    text-align: center;
}

.formulario {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 500px;
    padding: 10px;
    margin-left: 70px;
}


label {
    margin: 5px;
}


input{
    padding: 3px;
    padding-left: 20px;
    margin-left: 20px;
    margin: 5px;
}

button {
    height: 20px;
    width: 150px;
    margin-top: 20px;
    text-align: center;
}

h1 {
    font-style: oblique;
}